<footer class="container d-flex justify-content-between">
    <a href="/">
        <img src="{{ url_for('static', filename='images/wayne.png') }}" height="28px" alt="Logo" class="d-inline-block align-text-top">
    </a>
    <div class="socmed">
        <a class="" href="https://www.instagram.com/nurmuhimawann" target="_blank">
            <img src="{{ url_for('static', filename='images/twitter.svg') }}" width="24px">
        </a>
        <a class="" href="https://github.com/nurmuhimawann" target="_blank">
            <img src="{{ url_for('static', filename='images/github.svg') }}" width="24px">
        </a>
    </div>
</footer>