{% extends 'layouts/base.html' %}

{% block title %}Wayne - Explore ML{% endblock %}

{% block content %}
<main>
    <div class="container jumbotron mb-5">
        <div class="row" id="jumbotron">
            <div class="col-lg-8">
                <img src="{{ url_for('static', filename='images/header-image.jpg') }}" alt="home" class="img-fluid">
            </div>
            <div class="col-lg-4 text-head">
                <h1>Wayne is Delightful Machine Learning Apps</h1>
                <p>Wayne is the fastest way to predict quality your wine. based on machine learning model with a friendly web interface so
                    that anyone
                    can use it, anywhere!
                </p>
                <a href="{{ url_for('predict') }}" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
<body>